html{
  font-size:  10px;
  font-family: 'Oxygen Mono', monospace;
  background-color: lightGray;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
}

h1{
  font-size: 60px;
  text-align: left;
}

h2{
  font-size: 30px;
  text-align: left;
}

p{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
